.spinner {
    position: fixed;
    margin-top: -10rem;
    margin-left: -5rem;
    height: 120%;
    width: 120%;
    z-index: 100000;
    background-color: rgb(204, 204, 204, 0.2);
    &__loading {
        position: absolute;
        top: 40%;
        left: 40%;
        transform: translate(-50%, -50%);
    }
}

.alertBox {
    font-size: 1.6rem;
    text-align: center;
    button {
        font-size: 2rem;
    }
}

.form {
    font-size: 1.6rem;
    border-bottom: 2px solid #ccc;
    &__clientInfo {
        width: 100%;
        background-color: #EEE;
        height: 5rem;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        border: 2px solid #eee;
        border-radius: 5px;
        // background-color: red;
        direction: rtl;
    }
    input {
        font-size: 1.5rem;
    }
    &__title {
        text-align: center;
    }
    &__center {
        width: 100%;
        display: flex;
        justify-content: space-between;
        direction: rtl;
        text-align: right;
        &--group {
            width: 30%;
        }
    }
    &__all {
        display: flex;
        justify-content: space-between;
    }
    &__right,
    &__left {
        width: 40%;
        text-align: right;
        direction: rtl;
    }
    &__control {
        position: relative;
        i {
            position: absolute;
            left: 25px;
            bottom: 9px;
            visibility: hidden;
        }
        input.ng-invalid.ng-touched {
            border-color: #e74c3c;
        }
        input.ng-invalid.ng-touched~i.fa-exclamation-circle {
            color: #e74c3c;
            visibility: visible;
        }
        input.ng-valid.ng-touched {
            border-color: #2ecc71;
        }
        input.ng-valid.ng-touched~i.fa-check-circle {
            color: #2ecc7a;
            visibility: visible;
        }
    }
    &__check {
        margin-left: 5rem;
        width: 15rem;
    }
    &__select {
        font-size: 1.6rem;
    }
    &__btn {
        width: 50%;
        text-align: center;
        margin: auto;
        @media (max-width: 625px) {
            width: 100%;
        }
        // background-color: yellow;
        button {
            font-size: 1.7rem;
            padding: .5rem 2rem;
            // background-color: #d31335;
            margin-right: 2rem;
        }
    }
}

@media print {
    button {
        display: none;
    }
}