.spinner {
    position: fixed;
    width: 100%;
    height: 100vh;
    &__loading {
        position: absolute;
        top: 15%;
        left: 44%;
        transform: translate(-30%, -30%);
        @media(max-width: 1000px) {
            position: absolute;
            top: 15%;
            left: 42%;
            transform: translate(-30%, -30%);
        }
        @media(max-width: 667px) {
            position: absolute;
            top: 15%;
            left: 32%;
            transform: translate(-30%, -30%);
        }
    }
}

.form {
    font-size: 1.6rem;
    // border-bottom: 2px solid #ccc;
    display: flex;
    justify-content: space-evenly;
    text-align: right;
    direction: rtl;
    input {
        font-size: 1.6rem;
    }
    &__title {
        text-align: center;
    }
    &__right,
    &__left {
        width: 45%;
    }
}